.App{
  width: 100%;
  height: 100%;
}
:root {
  --primary-color: #5851D3;
  --primary-color-down: #6760D6;
  --secondary-color: #EEEEEE;
  --secondary-color-down: #F5F5F5; 
  --secondary-color-up: #DADCDB;
}
body{
  background-color: var(--secondary-color-up);
}
.SearchBar{
  /* width: 40.5rem;
  height: 3rem;  */
  text-align: center;
  margin: 2rem 2rem 2rem 2rem;
  border-radius: 1rem;
}

input::placeholder {
  /* Your styles here */
  color: #999; /* Change the font size */
  position: relative;
  text-align: left;
  padding-left: 30px;
  /* You can use other CSS properties to further adjust the position and appearance of the placeholder text */
}

.SearchBarInput{
  width: 40rem;
  height: 3.5rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: none;
}

.SearchIcon{
  margin: -3.43rem 0rem 0rem 34rem;
}

.SmallCard{
  background-color: var(--secondary-color-down);
  padding: 0.1rem 0.5rem 0.5rem 0.5rem;
  margin: 1rem 1rem 1rem 1rem;
  text-align: center;
  height: 50px;
  width: 20rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.SearchIconButton{
  margin: 0rem 0rem 0rem 0rem;
  height: 3.5rem;
  width: 3.5rem;
  background: none;
  border: none;
}

.SearchIconImg{
  height: 2.5rem;
  width: 2.5rem;
}

.SearchBarDiv{
  background-color: var(--primary-color);
  padding: 5rem 5rem 5rem 5rem;
}

.recentsearches{
  padding: 1rem 5rem 0rem 5rem;
}
.recentsearcheslist{
  margin: -0.5rem 0rem 0rem 4rem;
}
/* HomePage */
.HomePageDiv1{
  background-color: var(--primary-color);
  padding: 7rem 5rem 7rem 5rem;
}
.HeroImg1{
  margin: 5rem 5rem 5rem 13rem;
  height: 20rem;
  width: 20rem;
}
.HeroPara1{
  height: 20rem;
  width: 40rem;
  margin: -25rem 5rem 5rem 50rem;
}
.HeroImg2{
  margin: 5rem 5rem 5rem 60rem;
  height: 20rem;
  width: 20rem;
}
.HeroPara2{
  margin: -25rem 5rem 5rem 3rem;
  height: 20rem;
  width: 40rem;
}

.Logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}


.Logo img{
  height: 45px;

}

.Header{
  height: 70px;
  display: flex;
  padding-left: 40px;
  padding-right: 40px;

  justify-content: space-between;
  align-items: center;
  background-color: white;


}

.Second-part-nav-bar{
  display: flex;
}

.Elements{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 60px;
  padding: 10px;
  font-weight: 600;
  font-size: large;
}
.Elements :hover{
  cursor: pointer;
}


/* Sign in / up button  */
.SearchButton{
  height: 35px;
  width: 90px;
  background-color: #5851D3;
  color: white;
  font-weight: 700;
  border-radius: 50px;
  font-size: medium;
  border:none;




}

.SignButton{
  height: 35px;
  width: 90px;
  color: #291fb5;
  font-weight: 700;
  border-radius: 50px;
  font-size: medium;
  border: 2px solid #291fb5;
  padding-right: 10px;

}

.btn{
  display: flex;
  gap: 18px;
}
.RatingCard{
  background-color: #fff;
  height: 2.5rem;
  width: 8rem;
  margin: 0.5rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

}
.star {
  display: inline-block;
  color: #FFD700;

}
.empty-star{
  display: inline-block;
  color: #ccc; 
}
.LikeCardImg{
  height: 2rem;
  width: 2rem;
  margin-left: 0.6rem;
}
.LikeCard{
  background-color: #fff;
  width: 6rem;
  height: 2.5rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.LikeCard:hover {
  border: 2px solid #5851D3;
}
.ShareCard{
  background-color: #fff;
  width: 6rem;
  height: 2.5rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.ShareCard:hover {
  border: 2px solid #5851D3;
}